body{width: 100%;
margin:0}

h1{ 
    font-family: 'Barlow';font-size: 40px;
    font-weight: 400;
    color: aliceblue;
}
h2{
    font-family: 'Barlow';font-size: 32px;
    font-weight: 300;  
    color: aliceblue; 
}

ul{
    font-family: 'Barlow';font-size: 18px;
    font-weight: 300;  
    color: aliceblue; 
}

li{ 
margin-bottom: 12px;
}

header{
    display:flex;
    justify-content: center;
    text-align: center;
    padding: 1rem 2rem;
    background-color:#1eaef4 ;
}
.panel{
    margin-top: 3rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    background-color: #F3F4F4;
    width: 336px ;
    height:650px;
    border-radius: 20px;
    transition: ease-in 0.3s;
}
.panel:hover{
    background-color: #d9effa;
    cursor:pointer;
}
.panel:hover .image {
    transform: scale(1.1);
}

.image {
    padding-top: 1.2rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 223px;
    height: 223px;
    transition: transform 0.3s;
}

.image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.text{
    font-family: 'Rozanova GEO - Demo', sans-serif;
    font-size: 18px;
    font-weight: 600;  
    padding: 30px;
    color:#515151;   
}

.panel:hover .text {
    color: #2975AA;
    text-decoration: underline;
}

.description{
    padding-left: 30px;
    padding-right: 30px;
}

.description h1{
color: #000;
font-family: 'Rozanova GEO - Demo', sans-serif;
font-size: 24px;
font-weight: 600;
line-height: normal;
}

.description h2{
color: #515151;
font-family: 'Rozanova GEO - Demo', sans-serif;
font-size: 18px;
font-weight: 500;
line-height: 30px;
}

.description h3{
color: #262626;
font-family:  'Rozanova GEO - Demo', sans-serif;
font-size: 20px;
font-weight: 200;
line-height: normal;}

.description h4{
    color: #3a3a3a;
    font-family:  'Rozanova GEO - Demo', sans-serif;
    font-size: 18px;
    font-weight: bold;
    line-height: normal;}   

a{text-decoration: none;
color: #F2660C;
}

a:hover{text-decoration: underline;}

.link{
    display:flex;
    justify-content: center;
    margin: 2rem;
}

.Stills{
    display: flex;
    margin: 0 auto;
    width: 90%;
}
figure {
    border: thin #c0c0c0 solid;
    padding: 5px;
    margin: 20px auto;
    width:50%;
  }
  img {
    width: 100%;
  }
  
  figcaption {
    background-color: #222;
    font-family: 'Barlow';font-size: 18px;
    font-weight: 300;  
    color: aliceblue; 
    padding: 3px;
    text-align: center;
  }

  .Details{ 
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-auto-rows: 1fr;
    gap: 20px;
}

.rectangle{
    flex: 1;
    padding: 20px;
    box-sizing: border-box;
    width: 100%;
    margin-bottom: 20px;
  border-radius: 20px; 
  background-color:#1eaef4;

}
.panel:hover .text {
    color: #ffffff; /* Change to your desired color */
}

.shop-button {
    display: none;
    background-color: #959595;
    color: #fff;
    text-align: center;
    padding: 15px;
    font-size: 16px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: opacity 1s;
    position: relative;
    overflow: hidden;
}

.panel:hover .shop-button {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    opacity: 1;
    align-self: center; /* Center the button horizontally */
    margin-top: 30px;
    /*margin-bottom: 10px; Add some margin to space it from the bottom*/
    transition: opacity 1s;
}

.shop-button::before {
    content: '';
    position: absolute;
    width: 0;
    height: 100%;
    left: 0;
    bottom: 0;
    background-color: #FF5733;
    color: aliceblue;
    transition: width 0.3s;
}

.shop-button:hover::before {
    width: 100%;
}

.shop-button:hover {
    color: #fff; /* Change text color to white */
}


@media only screen and (max-width: 900px){
h1{font-size: 2rem;}
h2{font-size: 1.75rem;}
h3{font-size: 1.5rem;}

.Stills{
    display: inline-block;
    margin: 20px auto;
    width: 100%;
    }

.Details{ 
    flex-wrap: wrap;
    justify-content: center;
}
.img{
    width:500px;
}
}

@media only screen and (max-width: 640px){
    .details{flex-wrap:wrap;}
    .rectangle{max-width: 100%;}

@media only screen and (max-width: 600px){
    h1{font-size: 1.75rem;}
    h2{font-size: 1.5rem;}
    h3{font-size: 1rem;}
    .Details{ 
        flex-wrap: wrap;
        justify-content: center;
    }

}
}
